body {
    font-family: 'Poppins', sans-serif;
}

.hero {
    height: 70vh;
    background: linear-gradient( rgba(0,0,0,0.5), rgba(0,0,0,0.5) ),
                url("../images/bg3.jpg") center/cover no-repeat;
}

.category-box {
    background: #ffffff;
    transition: 0.3s;
}

.category-box:hover {
    transform: translateY(-5px);
}
